{{>header}}
    <header>
        {{>heading}}
        <form id="form">
            <input type="text" id="search" class="search" placeholder="Search">
        </form>
    </header>
    <h2>Budding writer? Hate Critics? Here's your chance. Start with a search...</h2>
    <main id="main" class="indexPage">

    </main>
{{>footer}}
